html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background-image: url("../images/fundo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  background: linear-gradient(-45deg, #00fa4b, #00c8fa, #000000, #2600ff);
  background-size: 400% 400%;
  box-shadow: 0 35px 35px black;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-top: 25px;
  color: hwb(30 0% 99%);
  display: flex;
  width: 250px;
  animation: Gradient 15s ease infinite;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#submit {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  text-justify: auto;
}
.input-container {
  left: 10px;
  width: 200px;
  position: relative;
}
.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #1d00fb;
  background: #000000;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}
.text-input::placeholder {
  font-size: 16px;
  opacity: 0.5;
  transition: all 0.3s;
}
.btlogin {
  padding: 0.8rem;
  width: 100%;
  height: 20%;
  border: 2px solid #1d00fb;
  background: #fa0000;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  position: relative;
  right: -5%;
  text-align: center;
}
.btlogin:hover {
  background-color: #00ff11;
  color: black;
  opacity: 50%;
}

#email {
  width: 100%;
  height: 20%;
}
#criaconta {
  position: relative;
  bottom: -580px;
  right: -600px;
  color: rgba(red, green, blue, alpha);
  text-decoration: none;
}
#criaconta:hover {
  position: relative;
  bottom: -580px;
  right: -600px;
  color: white;
  text-decoration: none;
}
